/* Elección del inventario */


/* Cuadro explicativo de la seleccion de Inventario */

.explicacion_selecInvent{
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.896);
    box-shadow: 
    0 0 0 15px rgb(109, 109, 109),
    0 0 0 18px yellow,
    0 0 0 23px rgb(109, 109, 109);
    border-radius: 10px;
    width: 800px;
    height: 350px;
    position: fixed;

    font-family: "Pixelify Sans", sans-serif;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.explicacion_selecInvent--img{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.explicacion_selecInvent--img:hover{
    transform: scale(1.2);

}