/* Fondo */

.pantalla__selecInvent,
.pantalla__selecPokemon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

/*quitar cuando termine de hacer los cambios*/
/* .pantalla__selecPokemon{ 
    display: none;
} */

.pantalla__selecInvent{
    display: none;
}

.fondo__selecPokemon,
.fondo__selcInvent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 80%;
}

/* Body de la Seleccion Pokemon */
body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    margin: 0;               
}

/* Texto explicativo de la seleccion de Pokemon */

.explicacion_selecPokemon{
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.896);
    box-shadow: 
    0 0 0 15px rgb(109, 109, 109),
    0 0 0 18px yellow,
    0 0 0 23px rgb(109, 109, 109);
    border-radius: 10px;
    width: 600px;
    height: 200px;
    position: fixed;
    top: 100px;

}

.explicacion_selecPokemon--font{
    font-family: "Pixelify Sans", sans-serif;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.explicacion_selecPokemon__pista{
    display: flex;
    justify-content: center;
    align-items: center;
}

.explicacion_selecPokemon__pista--button{
    background-color: rgb(109, 109, 109);
    width: 70px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.explicacion_selecPokemon__pista--oculto{
    display: none;
    padding: 10px;
}

.explicacion_selecPokemon__pista:hover .explicacion_selecPokemon__pista--oculto{
    display: block;
}


/* Elección de pokemon */

.box__selecPokemon{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;

}

.box__selecPokemon__img{
    width: 350px;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.box__selecPokemon__img:hover{
    transform: scale(1.2);

}

/* Elección del inventario */


/* Cuadro explicativo de la seleccion de Inventario */

.explicacion_selecInvent{
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 0.896);
    box-shadow: 
    0 0 0 15px rgb(109, 109, 109),
    0 0 0 18px yellow,
    0 0 0 23px rgb(109, 109, 109);
    border-radius: 10px;
    width: 800px;
    height: 350px;
    position: fixed;

    font-family: "Pixelify Sans", sans-serif;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.explicacion_selecInvent--img{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.explicacion_selecInvent--img:hover{
    transform: scale(1.2);

}