/* Tipografia */
body{
    font-family: "Pixelify Sans", sans-serif;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Video de fondo */
.Fondo__video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
}


/* Texto de inicio */
.inicio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inicio__cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    height: 150px;

    background-color: rgba(241, 241, 241, 0.896);
    box-shadow:
    0 0 0 15px rgb(109, 109, 109),
    0 0 0 18px yellow,
    0 0 0 23px rgb(109, 109, 109);
    border-radius: 10px;
    position: fixed;
    top: 100px;
}

.inicio__h1{
    justify-content: center;
    align-items: center;
}

.inicio__enlace{
    text-decoration: none;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 18px;

}

.inicio__cuadro--peq{
    border-radius: 8px;
    background-color: rgb(109, 109, 109);
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}